.horizontal_slider{
    display: flex;
    width: 70%;
    height: 150px;
    margin: 200px;
    overflow-x: scroll;
    box-sizing: border-box;
    cursor: pointer;
}

.slider_container{
    display: block;
    white-space: nowrap;
}

.item{
    display: inline-block;
    margin-right: 60px;
}

.item img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}