#home{
    display: flex;
    flex-direction: column;
    background-color: (0,0,0,0.5);
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #fff;
   
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('../icon/football.jpg') no-repeat center center/cover;
    height: 1300px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
   /* border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 50px;
    right: 5%;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid rgb(119, 201, 201);
    color: #fff;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color:#000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15 #fff;
}

