.horizontal_slider{
    display: flex;
    width: 100%;
    margin-top: 200px;
    padding:20px;
    overflow-x: scroll;
    box-sizing: border-box;
    cursor: pointer;
}

.slider_container{
    display: block;
    white-space: nowrap;
}

.item{
    display: inline-block;
    margin-right: 60px;
}

.item img{
    width: 150px;
}