footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #d6e6ee;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
