@media (max-width:568px) {
    .control{
        display: block;
        top: 15%;
        width: 10%;
        height:60px;
        
        background-size: 100% 100%;
        transform: translate(50%,-50%);
        position: absolute;
        animation: slide 9s infinite linear;
    }
    .horizontal_slider{
        display: flex;
        width: 30%;
        height: 50px;
        margin: 5px;
        overflow-x: scroll;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .container .box:hover .content{
        transform: translate(0,10px);
    }

    .container .box:hover .imgBx{
        transform: translate(0,-10px);
    }
}
