@media(max-width:768px){
    .main-card .cards .card{
        width: 30%;
        margin: 40px 0 90px 0;   
    }
    .main-card .cards .card:hover{
        transform: translateY(-15px);
    }
    .card-main{   
        position: relative;
        top: 10%;
        width: 15%;
        width:222px;
        height: 200px;
        left: 25%;
        width: 222px;
        height: 100px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s;
        overflow: hidden;
     
    }
  
}

@media(max-width:600px){
    .main-card .cards .card{
        right: 50%;
      width: 30%;
      margin: 10px 0 10px 0;   
    }
    .main-card .cards .card:hover{
        transform: translateY(-15px);
    }
    .card-main{   
        position: relative;
        width: 30px;
        height: 50px;
        left: -30%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s;
        overflow: hidden;
    
    }
}
