@media (max-width:568px) {
    .control{
        display: block;
        top: 15%;
        width: 10%;
        height:60px;
        background-size: 100% 100%;
        transform: translate(50%,-50%);
        position: absolute;
        animation: slide 9s infinite linear;
    }
    .horizontal_slider{
        display: flex;
        width: 20%;
        height: 90px;
        overflow-x: scroll;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .container .box:hover .content{
        transform: translate(0,10px);
    }

    .container .box:hover .imgBx{
        transform: translate(0,-10px);
    }
.item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
}
