.wrapper{
    width: 1170px;
    margin: 25% auto;
    z-index: -1;
}

.wrapper h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.single-service{
    position: relative;
    width: 31%;
    height: 390px;
    background: rgb(139, 127, 127);
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 4px;
    text-align: center;
}
.line {
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}

.single-service p{
    color: #262626;
    font-size: 14px;
}

.single-service h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #262626;
}

.single-service span{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    transition: .7s;
    transform: skewX(10deg);
}
.single-service:hover span{
    left: 110%;
}
.social{
    width: 60px;
    height: 60px;
    background: #747171;
    border-radius: 50%;
    margin: 5% auto;
}
