
.control{
    display: block;
    top: 10%;
    width: 10%;
    height:115px;
    left: 30%;
    background-size: 100% 100%;
    transform: translate(50%,-50%);
    position: absolute;
    animation: slide 9s infinite linear;
}
@keyframes slide {
    0%{
        background-image: url('../slide/argentina.jpg');
    }
    25%{
        background-image: url('../slide/brasil.png');
    }
    45%{
        background-image: url('../slide/germany.png');
    }
    60%{
        background-image: url('../slide/croatia.png');
    }
    80%{
        background-image: url('../slide/denmark.png');
    }
    100%{
        background-image: url('../slide/spain.png');
    }
}