
.control{
    display: block;
    top: 15%;
    width: 10%;
    height:115px;
    left: 25%;
    background-size: 100% 100%;
    transform: translate(50%,-50%);
    position: absolute;
    animation: slide 9s infinite linear;
}
@keyframes slide {
    0%{
        background-image: url('../slide/argentina.jpg');
    }
    25%{
        background-image: url('../slide/brasil.png');
    }
    45%{
        background-image: url('../slide/venezuela.png');
    }
    60%{
        background-image: url('../slide/united\ states.png');
    }
    80%{
        background-image: url('../slide/peru.png');
    }
    100%{
        background-image: url('../slide/paraguay.png');
    }
}